@tailwind base;
@tailwind components;
@tailwind utilities;

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
  /* reset margin and padding so there's no gap between the nav and the screen edges */
  margin: 0;
     padding: 0;
}

@layer utilities {
  .gradient-text {
    background: linear-gradient(
      to right,
      var(--subTitle),
      var(--subTitleLight)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

@layer utilities {
  .subtitle-gradient-text {
    background: linear-gradient(
      to right,
      var(--subTitle),
      var(--subTitleLight)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

#hero-title {
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 700;
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1rem;
}

.transition-effect {
  background-image: linear-gradient(
    to right,
    var(--secondary) 50%,
    var(--primaryLight) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s ease-in-out;
}

.transition-effect:hover {
  background-position: left bottom;
}

:root {
  --primary: #e8a64f;
  --primaryLight: #ffba43;
  --secondary: #6e3a88;
  --secondaryLight: #e9eef5;
  --headerTitle: #f2d096;
  --headerTitleLight: #cfdae8;
  --subTitle: #6e3a88;
  --subTitleLight: #537ca4;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1; /* Star fully visible at the start and end */
  }
  50% {
    opacity: 0; /* Star fully invisible at the midpoint */
  }
}

@layer utilities {
  @keyframes shooting-star {
    0% {
      transform: translateX(-10%) translateY(-50%) scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(600px) translateY(-120px) scale(2);
      opacity: 0;
    }
  }

  @keyframes shooting-star2 {
    0% {
      transform: translateX(-10%) translateY(-50%) scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(600px) translateY(-120px) scale(2);
      opacity: 0;
    }
  }

  .shooting-star2 {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 2px;
    height: 2px;
    background: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: shooting-star2 3s linear infinite;
    animation-delay: 3s; /* Delay the start of the animation */
  }

  .shooting-star {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 2px;
    height: 2px;
    background: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: shooting-star 3s linear infinite;
    animation-delay: 3s; /* Delay the start of the animation */
  }
}
